@using Core.Models

@model Product
<div class="container">
    <div class="row">
        <div class="col-12">
            <form asp-action="DeletePost" method="post">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">@Model.Title</h6>
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">@Model.Price</p>
                        <a asp-action="index" asp-controller="product" class="btn btn-outline-info">Go Back</a>
                        <input asp-for="@Model.Id" hidden value="@Model.Id" />
                        <button type="submit" href="#" class="btn btn-outline-danger">Delete</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
